[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "static/blogs/ai-architecture-system"]
	path = static/blogs/ai-architecture-system
	url = https://github.com/Yufeng98/AI-architecture-system.git
